.container {
    width: 50%;
    height: 200px;
    border: 1px solid black;
    background-color: aqua;
}

.container:hover {
    background-color: blueviolet;
    transform: rotate(180deg);
    transition: transform 3s ease 0.1s;
}

body {
    background-color: coral;
}