.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.gradient-square {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.radial-gradient {
    background: radial-gradient(blue, green);/* added the radial gradient coloring from left to right without percentage */
}

.radial-gradient-percentage {
    background: radial-gradient(blue 50%, green 50%);/* adding the percentage colors in the radial gradient container */
}